In [6]:
import numpy as np 
import pandas as pd

In [12]:
nilai = pd.DataFrame([70, 80, 90],
                     index=['A', 'B', 'C'],
                     columns=['nilai'])

nilai

   nilai
A     70
B     80
C     90

In [ ]:
# akses sesuai nama kolom atau baris nya
nilai.loc["B", "nilai"]

80

In [ ]:
# ini pake index ngambil nya
nilai.iloc[0, 0]

70

In [5]:
nilai["nilai"]

A    70
B    80
C    90
Name: nilai, dtype: int64

In [13]:
nilai["nilai"]["B"]

80

In [ ]:
# pake data sample dari google colab
dataset = pd.read_csv("california_housing_train.csv")
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

# FIltering

In [18]:
# bisa pake mode true false
dataset["housing_median_age"] < 20
# yang ini return nya data true
# dataset[(dataset["housing_median_age"] < 20)]

0         True
1         True
2         True
3         True
4        False
         ...
16995    False
16996    False
16997     True
16998     True
16999    False
Name: housing_median_age, Length: 17000, dtype: bool

# multiple filter

In [22]:
# harus pake tupple
dataset[(dataset["housing_median_age"] < 20) & (dataset["population"] < 100)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
113,-115.80,33.26,2.0,96.0,18.0,30.0,16.0,5.3374,47500.0
116,-115.88,32.93,15.0,208.0,49.0,51.0,20.0,4.0208,32500.0
120,-115.94,33.38,5.0,186.0,43.0,41.0,21.0,2.7000,58800.0
121,-115.95,33.28,12.0,99.0,25.0,37.0,17.0,1.8958,53800.0
...,...,...,...,...,...,...,...,...,...
14383,-122.11,37.31,7.0,189.0,26.0,84.0,29.0,13.8093,500001.0
16245,-122.48,37.64,7.0,120.0,21.0,50.0,27.0,12.5000,281000.0
16561,-122.69,39.04,9.0,254.0,50.0,66.0,29.0,2.7639,112500.0
16643,-122.74,39.71,16.0,255.0,73.0,85.0,38.0,1.6607,14999.0
16733,-122.89,39.42,16.0,411.0,114.0,26.0,19.0,0.4999,73500.0

# ini bisa pake query kek sql gitu

In [8]:
dataset.query("housing_median_age < 20 and population < 100")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
113,-115.80,33.26,2.0,96.0,18.0,30.0,16.0,5.3374,47500.0
116,-115.88,32.93,15.0,208.0,49.0,51.0,20.0,4.0208,32500.0
120,-115.94,33.38,5.0,186.0,43.0,41.0,21.0,2.7000,58800.0
121,-115.95,33.28,12.0,99.0,25.0,37.0,17.0,1.8958,53800.0
...,...,...,...,...,...,...,...,...,...
14383,-122.11,37.31,7.0,189.0,26.0,84.0,29.0,13.8093,500001.0
16245,-122.48,37.64,7.0,120.0,21.0,50.0,27.0,12.5000,281000.0
16561,-122.69,39.04,9.0,254.0,50.0,66.0,29.0,2.7639,112500.0
16643,-122.74,39.71,16.0,255.0,73.0,85.0,38.0,1.6607,14999.0
16733,-122.89,39.42,16.0,411.0,114.0,26.0,19.0,0.4999,73500.0

# Sort

In [25]:
# sorting singular
dataset.sort_values("housing_median_age", ascending=False).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0
14561,-122.16,38.05,52.0,1888.0,457.0,830.0,408.0,3.1373,185100.0
6551,-118.28,34.18,52.0,2602.0,418.0,1137.0,419.0,5.3185,358000.0
4420,-118.03,33.99,52.0,2792.0,461.0,1177.0,439.0,3.4312,243800.0
14579,-122.16,37.74,52.0,771.0,147.0,355.0,144.0,4.1458,143400.0

In [ ]:
# sorting mode plural
dataset.sort_values(by = ["housing_median_age", "population"], ascending=[False, True])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1466,-117.19,32.75,52.0,25.0,5.0,13.0,5.0,0.5360,162500.0
16309,-122.50,37.79,52.0,8.0,1.0,13.0,1.0,15.0001,500001.0
11715,-121.30,37.94,52.0,24.0,6.0,23.0,5.0,2.3750,67500.0
14120,-122.06,36.96,52.0,65.0,17.0,24.0,10.0,4.5000,258300.0
11104,-121.00,37.71,52.0,102.0,23.0,35.0,33.0,2.2500,175000.0
...,...,...,...,...,...,...,...,...,...
1321,-117.16,33.57,2.0,20391.0,3245.0,7132.0,2716.0,3.9443,187300.0
2372,-117.52,33.89,2.0,17978.0,3217.0,7305.0,2463.0,5.1695,220800.0
11864,-121.35,38.72,2.0,21897.0,3513.0,8652.0,2873.0,4.5432,151300.0
10993,-120.93,37.65,1.0,2254.0,328.0,402.0,112.0,4.2500,189200.0
13708,-122.00,38.23,1.0,2062.0,343.0,872.0,268.0,5.2636,191300.0

In [10]:
dataset.iloc[0:10]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0