# List

In [1]:
my_list = []
print(my_list)
my_list = [1, 3, 4]
print(my_list)

[]
[1, 3, 4]

# Dictonary

In [2]:
my_dict = {
    "first" : "py",
    1 : "first"
}
print(my_dict)

#merubah element di dict
my_dict[1] = "dua"
print(my_dict)

{'first': 'py', 1: 'first'}
{'first': 'py', 1: 'dua'}

# Tuple
tuple ini kagak bisa dirubah element nya

In [2]:
my_tuple = (1,2,4,"ayamgoreng")
print(my_tuple)
print(my_tuple[0])
print(my_tuple[:])
print(my_tuple[3][4])

(1, 2, 4, 'ayamgoreng')
1
(1, 2, 4, 'ayamgoreng')
g

# Sets

In [3]:
my_set = {1,2,3,4,4,4,4,4}
print(my_set)
my_set.add(5)
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [5]:
my_set = {1, 2, 3, 4}
my_set_2 = {3, 4, 5, 6}
#union itu di gabung
print(my_set.union(my_set_2), '----------', my_set | my_set_2)
#intersection itu nilai unik di kedua set
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
# ngambil elemen yang cuma ada di satu set, tapi gak ada di set lainnya
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
# ada di salah satu set aja, tapi bukan di keduanya.
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6} ---------- {1, 2, 3, 4, 5, 6}
{3, 4} ---------- {3, 4}
{1, 2} ---------- {1, 2}
{1, 2, 5, 6} ---------- {1, 2, 5, 6}
set()

# Conditional Statment

In [ ]:
num = 5 
if num != 0:
    print(num, "adalah bilangan number")

print("stament ini selealu dijalankan ")

5 adalah bilangan number
stament ini selealu dijalankan

In [1]:
num = 5
if num >= 0:
    print("bilangan positif atau negatif")
else:
    print("bilangan negatif")

bilangan positif atau negatif

In [2]:
num = 0
if num > 0:
    print("bilangan positif")
elif num == 0:
    print("bilangan nol")
else:
    print("bilangan negatif")

bilangan nol

In [3]:
num = 8
if num >= 0:
    if num == 0:
        print("bialngan nol")
    else:
        print("bilangan positif")
else:
    print("bilangan negatif")

bilangan positif

# Loops

In [4]:
num = 1
odd_nums = []
while num <= 20:
    if num % 2 != 0:
        odd_nums.append(num)
    num += 1
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:
list = [1,2,3,4,5]
for num in list:
    print(num)

1
2
3
4
5

# Function

In [6]:
def pow(a):
    return a * a

print(pow(2))

4

In [7]:
def pow(a):
    print(a * a)

pow(2)

4